﻿@model WebPortal.ViewModels.VideoViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>Id: @Model.Id</div>
<div>Title: @Model.Title</div>
<div>Genre: @Model.Genre</div>

@Html.ActionLink("Home", "Index")
